@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

#videoContainer {
  height: 100vh;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.content {
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
  color: white;
  transform: translate(-50%);
  z-index: 3;
}

h1, h2 {
  color: white;
}

#audio {
  display: none;
}

/* carousel */
.media-scroller {
  --_spacer: var(--size-3);
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-auto-columns: 21%;

  padding: 0 var(--_spacer) var(--_spacer);

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding: var(--_spacer);
  background-color: rgba(20, 50, 20, 0.3);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 9 / 16;
  object-fit: cover;
}

/* general styling */

.container {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
}

.flow {
  display: grid;
  gap: var(--size-3);
}